/* ANNOTATIONS/ POI'S */

/* div container for annotation marks */
#annotations {
    position: absolute;
    top: 0;
}

/* setup for hidden poi's */
.hidden {
    opacity: 0;
    transition: opacity 1s;
}

/* hoverable annotation marks with individual number */
.annotation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 255);
    background: rgba(230, 64, 17, 1);
    border-radius: 50%;
    font-size: 22px;
    text-align: center;
    font-family: "Helvetica Neue LT Pro-MdCn", Helvetica, Arial, sans-serif;
    transition: opacity .5s;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* touch style for annotation marks */
.annotation.active {
    background: #C3CAD0;
}

/* poi pulse animation */
.annotation:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
}

/* poi animation when hovering */
.annotation.active::before {
    display: block;
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
    animation: pulse-border 1s;
}

/* poi connection to tooltip */
.annotation::after {
    display: block;
    content: "";
    position: absolute;
    height: 2px;
    left: 40px;
    background: #C3CAD0;
    transition: width .5s;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
}

/* poi connection to tooltip hover */
.annotation.active::after {
    display: block;
    width: 41px;
}

/* window tooltip to display video files */
.video-tooltip {
    position: relative;
    height: 203px;
    width: 360px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.6);
    object-fit: fill;
}

/* tooltip animations */
@keyframes pulse-white {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes pulse-border {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    
    70% {
      transform: scale(2);
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/* annotation tooltip window with informational text */
.annotation-tooltip {
    display: block;
    text-align: left;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    z-index: 10;
    margin-left: 80px;
    padding: 1em;
    min-width: 250px;
    height: auto;
    color: rgba(255, 255, 255, 0);
    background: #C3CAD0;
    border-radius: .5em;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    transition: opacity 0.5s, color 0.5s;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
}

/* hover style of the annotation tooltip */
.annotation.active .annotation-tooltip {
    opacity: 1;
    color: #566879;
}

/* container for video tooltip */
#headerInfobox {
    display: block;
    opacity: 0;
    top: 164px;
    position: absolute;
    left: 32px;
    color: #566879;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    transition: opacity 1s, color 0.5s;
    pointer-events: none;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    background: #000000;
    border-radius: .5em;
    height: 204px;
    width: 360px;
}

#headerInfobox.boxClosed {
    top: 64px;
}